@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 30px;
    padding: 10px;">
    <div id="cowboy-title">
        <h1 class="display-3">Cowboy Cafe</h1>
        <h5>
            We at Cowboy Cafe are proud to bring you authentic trail meals from the American West.
            Shake off the dust on your boots and sake your thirst with one of our old-fashioned
            hand-jerked sodas. Dip your Pan de Campo into a bowl of beans. Or conquer the mighty
            Texas Triple Burger! You’ve had a hard ride - so take it easy with us.
        </h5>
    </div>

    <hr class="rounded">

    <form method="post">
        <div id="search">
            <input type="text" class="searchBar" name="SearchTerms" placeholder="Search.." value="@Model.SearchTerms" size="50" />
            <button type="submit" class="searchButton"><img id="search-image" src="~/Images/white_search_icon.png" /></button>
        </div>

        <div id="filters">
            <div id="category">
                <h5 />Category:
                @foreach (string category in Menu.Categories)
                {
                    <label>
                        <input type="checkbox" name="Categories" value="@category" checked="@Model.Categories?.Contains(category)" />
                        @category
                    </label>
                }
            </div>
            <div id="calories">
                <h5 />Calories:
                Between
                <input name="CaloriesMin" type="number" min="0" max="5000" step="1" placeholder="min" value="@Model.CaloriesMin" />
                and
                <input name="CaloriesMax" type="number" min="0" max="5000" step="1" placeholder="max" value="@Model.CaloriesMax" />
            </div>
            <div id="prices">
                <h5 />Price:
                Between $
                <input name="PriceMin" type="number" min="0.00" max="100.00" step="0.01" placeholder="min" value="@Model.PriceMin" />
                and $
                <input name="PriceMax" type="number" min="0.00" max="100.00" step="0.01" placeholder="max" value="@Model.PriceMax" />
            </div>
        </div>

        <hr class="rounded">

        <div class="row">
            <div class="column left">
                <h5>Item/Size</h5>
            </div>
            <div class="column middle">
                <h5>Calories</h5>
            </div>
            <div class="column right">
                <h5>Price</h5>
            </div>
        </div>

        <div class="card-group" id="menu-item">
            <div class="card">
                @foreach (Entree entree in Model.Entrees)
                {
                    @if (!Menu.AlreadyContainsCategory(entree))
                    {
                        <h2>Entrees</h2>
                    }
                    <div class="row">
                        <div class="column left">
                            <h5 >@entree</h5>
                        </div>
                        <div class="column middle">
                            <p>@entree.Calories</p>
                        </div>
                        <div class="column right">
                            <p>@String.Format("{0:C}", entree.Price)</p>
                        </div>
                        
                    </div>
                }
            </div>
            <div class="card">
                @foreach (Side side in Model.Sides)
                {
                    if (!Menu.AlreadyContainsCategory(side))
                    {
                        <h2>Sides</h2>
                    }
                    if (!Menu.AlreadyContainsItemType(side))
                    {
                        if (side.Size == Size.Medium)
                        {
                            <h5>@side.ToString().Remove(0, 6)</h5>
                        }
                        else
                        {
                            <h5>@side.ToString().Remove(0, 5)</h5>
                        }
                    }
                    <div class="row">
                        <div class="column left">
                            <p>@side.Size</p>
                        </div>
                        <div class="column middle">
                            <p>@side.Calories</p>
                        </div>
                        <div class="column right">
                            <p>@String.Format("{0:C}", side.Price)</p>
                        </div>
                    </div>
                }
            </div>
            <div class="card">
                @foreach (Drink drink in Model.Drinks)
                {
                    if (!Menu.AlreadyContainsCategory(drink))
                    {
                        <h2>Drinks</h2>
                    }
                    if (!Menu.AlreadyContainsItemType(drink))
                    {
                        if (drink is JerkedSoda)
                        {
                            if (drink.Size == Size.Medium)
                            {
                                <h5>@drink.ToString().Remove(0, 17)</h5>
                                <p>Cream Soda, Birch Beer, Root Beer, Sarsparilla</p>
                            }
                            else
                            {
                                <h5>@drink.ToString().Remove(0, 16)</h5>
                                <!--<p style="background-color: rgba(220, 54, 0, 0.35); border-radius: 20px;">Cream Soda, Orange Soda,  Birch Beer, Root Beer, Sarsparilla</p>-->
                            }
                        }
                        if (drink is CowboyCoffee && drink.Size == Size.Medium)
                        {
                            <h5>@drink.ToString().Remove(0, 6)</h5>
                        }
                        else if (!(drink is JerkedSoda))
                        {
                            <h5>@drink.ToString().Remove(0, 5)</h5>
                        }
                    }
                    <div class="row">
                        <div class="column left">
                            <p>@drink.Size</p>
                        </div>
                        <div class="column middle">
                            <p>@drink.Calories</p>
                        </div>
                        <div class="column right">
                            <p>@String.Format("{0:C}", drink.Price)</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
